.container header {
    background-color: #000000;
}
header a .logo {
    color: #FFFFFF;
}
header, footer, .copyright {
    border: none !important;
}
.container #hero {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 1400px 310px;
    width: 1400px;
    height: 5px;
}
#hero .hero_header .light {
    color: #000000;

}

.container #about .text_column {
    text-align: left;
    width: 1000px;
    color: #FFFFFF;
}
footer .footer_column h2 {
    color: #FFFFFF;
}

footer .footer_column p {
    color: #FFFFFF;
    background-color: #000000;
}
.container .copyright {
    background-color: #000000;
}

#contact .button {
    background-color: #000000;
    background-image: -webkit-linear-gradient(231deg,rgba(0,0,0,1.00) 0%,rgba(70,70,70,1.00) 76.07%,rgba(156,156,156,1.00) 100%);
    background-image: -moz-linear-gradient(231deg,rgba(0,0,0,1.00) 0%,rgba(70,70,70,1.00) 76.07%,rgba(156,156,156,1.00) 100%);
    background-image: -o-linear-gradient(231deg,rgba(0,0,0,1.00) 0%,rgba(70,70,70,1.00) 76.07%,rgba(156,156,156,1.00) 100%);
    background-image: linear-gradient(219deg,rgba(0,0,0,1.00) 0%,rgba(70,70,70,1.00) 76.07%,rgba(156,156,156,1.00) 100%);
}
.footer_column {
    background-color: #000000;
}

#contact .hero_header strong {
    color: #FFFFFF;
}
.container #contact {
    background-color: #000000;
}

footer {
    background-color: #000000 !important;
    border: none !important;
    background-image: none !important;    
}

footer .footer_column h3 {
    color: #FFFFFF;
}
.footer_column {
    background-color: #000000 !important;         
}

.container #about {
    background-color: #000000;
}
body, .container {
    background-color: #000000 !important; 
    background-image: none !important;    
    border: none !important;              
}
